<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>trello</display-name>
  <security-role>
    <role-name>Admin</role-name>
  </security-role>
  <security-role>
    <role-name>Member</role-name>
  </security-role>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>BoardServlet</display-name>
    <servlet-name>BoardServlet</servlet-name>
    <servlet-class>controller.BoardServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>BoardServlet</servlet-name>
    <url-pattern>/BoardServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ForgotServlet</display-name>
    <servlet-name>ForgotServlet</servlet-name>
    <servlet-class>controller.ForgotServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ForgotServlet</servlet-name>
    <url-pattern>/ForgotServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>LoginServlet</display-name>
    <servlet-name>LoginServlet</servlet-name>
    <servlet-class>controller.LoginServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoginServlet</servlet-name>
    <url-pattern>/LoginServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ListServlet</display-name>
    <servlet-name>ListServlet</servlet-name>
    <servlet-class>controller.ListServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ListServlet</servlet-name>
    <url-pattern>/ListServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CardServlet</display-name>
    <servlet-name>CardServlet</servlet-name>
    <servlet-class>controller.CardServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CardServlet</servlet-name>
    <url-pattern>/CardServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AddBoardServlet</display-name>
    <servlet-name>AddBoardServlet</servlet-name>
    <servlet-class>controller.AddBoardServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddBoardServlet</servlet-name>
    <url-pattern>/AddBoardServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DeleteBoardServlet</display-name>
    <servlet-name>DeleteBoardServlet</servlet-name>
    <servlet-class>controller.DeleteBoardServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DeleteBoardServlet</servlet-name>
    <url-pattern>/DeleteBoardServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SetBoardServlet</display-name>
    <servlet-name>SetBoardServlet</servlet-name>
    <servlet-class>controller.SetBoardServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SetBoardServlet</servlet-name>
    <url-pattern>/SetBoardServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SetListServlet</display-name>
    <servlet-name>SetListServlet</servlet-name>
    <servlet-class>controller.SetListServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SetListServlet</servlet-name>
    <url-pattern>/SetListServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AddListServlet</display-name>
    <servlet-name>AddListServlet</servlet-name>
    <servlet-class>controller.AddListServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddListServlet</servlet-name>
    <url-pattern>/AddListServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DeleteListServlet</display-name>
    <servlet-name>DeleteListServlet</servlet-name>
    <servlet-class>controller.DeleteListServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DeleteListServlet</servlet-name>
    <url-pattern>/DeleteListServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AddCardServlet</display-name>
    <servlet-name>AddCardServlet</servlet-name>
    <servlet-class>controller.AddCardServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddCardServlet</servlet-name>
    <url-pattern>/AddCardServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DeleteCardServlet</display-name>
    <servlet-name>DeleteCardServlet</servlet-name>
    <servlet-class>controller.DeleteCardServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DeleteCardServlet</servlet-name>
    <url-pattern>/DeleteCardServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SetCardServlet</display-name>
    <servlet-name>SetCardServlet</servlet-name>
    <servlet-class>controller.SetCardServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SetCardServlet</servlet-name>
    <url-pattern>/SetCardServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SingUpServlet</display-name>
    <servlet-name>SingUpServlet</servlet-name>
    <servlet-class>controller.SingUpServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SingUpServlet</servlet-name>
    <url-pattern>/SingUpServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>LogOutServlet</display-name>
    <servlet-name>LogOutServlet</servlet-name>
    <servlet-class>controller.LogOutServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LogOutServlet</servlet-name>
    <url-pattern>/LogOutServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SetDescriptionCardServlet</display-name>
    <servlet-name>SetDescriptionCardServlet</servlet-name>
    <servlet-class>controller.SetDescriptionCardServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SetDescriptionCardServlet</servlet-name>
    <url-pattern>/SetDescriptionCardServlet</url-pattern>
  </servlet-mapping>
  <listener>
    <listener-class>
      controller.ServletContextListener
    </listener-class>
  </listener>
 <servlet>
<servlet-name>Jersey REST Service</servlet-name>
<servlet-class>
com.sun.jersey.spi.container.servlet.ServletContainer
</servlet-class>
<init-param>
<param-name>
com.sun.jersey.config.property.packages
</param-name>
<param-value>resources</param-value>
</init-param>
<load-on-startup>1</load-on-startup>
</servlet>
<servlet-mapping>
<servlet-name>Jersey REST Service</servlet-name>
<url-pattern>/rest/*</url-pattern>
</servlet-mapping>
</web-app>